html {
    background-color: blue;
}

body {
    background-color: #00C957;
    margin: 0 auto;
    width: 60%;
    border: 5px solid black;
}

img {
    border: 10px groove gold;
    border-radius: 100%;
    display: block;
    margin: 0 auto;
}

#primary {
    color: blue;
}

#secondary {
    color: red;
}